.basket {
  @include adaptive-value("padding-top", 20, 10, 1);
  @include adaptive-value("padding-bottom", 20, 10, 1);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    width: 100%;
  }

  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptive-value("margin-bottom", 30, 20, 1);
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0.01em;
    @include adaptive-value("font-size", 32, 28, 1);
    @include adaptive-value("line-height", 39, 36, 1);

    &:before {
      @include adaptive-value("font-size", 29, 26, 1);
      margin: 0 15px 0 0;
    }
  }

  &__clear-basket {
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    color: #B6B6B6;
    display: flex;
    align-items: center;
    -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;

    &:before {
      font-size: 18px;
      margin: 0 8px 0 0;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #121212;
      }
    }
  }

  &__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__bottom {
    width: 100%;
  }

  &__action {
    display: flex;
    width: 100%;
    justify-content: space-between;
    @include adaptive-value("margin-bottom", 40, 25, 1);
  }

  &__total-count {
    font-weight: 400;
    letter-spacing: 0.01em;
    @include adaptive-value("font-size", 22, 20, 1);
    @include adaptive-value("line-height", 27, 24, 1);

    span {
      font-weight: 700;
    }
  }

  &__total-price {
    font-weight: 400;
    letter-spacing: 0.01em;
    @include adaptive-value("font-size", 22, 20, 1);
    @include adaptive-value("line-height", 27, 24, 1);

    span {
      font-weight: 700;
      color: $orangeColor;
    }

  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__back-button {
    @include adaptive-value("height", 55, 45, 1);
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 30px;
    @include adaptive-value("padding-left", 30, 25, 1);
    @include adaptive-value("padding-right", 30, 25, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #CACACA;
    display: flex;
    align-items: center;
    -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;

    &:before {
      display: block;
      font-size: 7px;
      transform: rotate(-90deg);
      margin: 0 10px 0 0;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #fff;
        background-color: #000;
      }
    }
  }

  &__confirm {
    @include adaptive-value("height", 55, 45, 1);
    background: $orangeColor;
    border-radius: 30px;
    @include adaptive-value("padding-left", 30, 25, 1);
    @include adaptive-value("padding-right", 30, 25, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #FFF;
    -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;

    @media (any-hover: hover) {
      &:hover {
        background: rgba(254,95,30,0.67);
      }
    }
  }
}

.pizza-basket {
  width: 100%;
  border-top: 1px solid #F4F4F4;
  @include adaptive-value("height", 160, 140, 1);
  @include adaptive-value("padding-top", 30, 20, 1);
  @include adaptive-value("padding-bottom", 30, 20, 1);
  display: flex;
  justify-content: space-between;

  &__left-side {
    display: flex;
    align-items: center;
    margin: 0 30px 0 0;
  }

  &__img {
    height: 100%;
    margin: 0 15px 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__name {
    font-weight: 700;
    letter-spacing: 0.01em;
    @include adaptive-value("font-size", 22, 20, 1);
    @include adaptive-value("line-height", 27, 25, 1);
    margin: 0 0 3px 0;
  }

  &__description {
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #8D8D8D;
    @include adaptive-value("font-size", 18, 16, 1);
    @include adaptive-value("line-height", 22, 20, 1);
  }

  &__right-side {
    display: flex;
    align-items: center;
    width: 380px;
    @include adaptive-value("gap", 20, 10, 1);
    justify-content: space-between;
  }

  &__count {
    display: flex;
    align-items: center;

    span {
      display: inline-block;
      margin: 0 12px 0 12px;
      font-size: 22px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 0.01em;
    }
  }

  &__button-count {
    width: 32px;
    height: 32px;
    background-color: transparent;
    -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;
    border-radius: 50%;
    border: 2px solid $orangeColor;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:before {
      content: "";
      width: 10px;
      height: 2px;
      display: block;
      background-color: $orangeColor;
      border-radius: 10px;
      -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;
    }

    &:after {
      content: "";
      height: 10px;
      width: 2px;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $orangeColor;
      transform: translate(-50%, -50%);
      -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $orangeColor;
        &:before {
          background-color: #FFFFFF;
        }

        &:after {
          background-color: #FFFFFF;
        }
      }
    }

    &[disabled] {
      pointer-events: none;
      border: 2px solid rgba(120,120,120,0.4);

      &:before {
        background-color: rgba(120,120,120,0.4);
      }

      &:after {
        background-color: rgba(120,120,120,0.4);
      }
    }

    &_minus {
      &:after {
        content: none;
      }
    }
  }

  &__price {
    line-height: 27px;
    letter-spacing: 0.01em;
    @include adaptive-value("font-size", 22, 20, 1);
    @include adaptive-value("line-height", 27, 25, 1);
    font-weight: 700;
  }

  &__delete {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #D7D7D7;;
    position: relative;
    -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;

    &:before,  &:after {
      content: "";
      width: 13px;
      height: 2px;
      background-color: #D7D7D7;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #000;
        border: 2px solid #000;

        &:before,  &:after {
          background-color: #fff;
        }
      }
    }
  }
}

.empty-basket {
  &__title {
    font-weight: 700;
    letter-spacing: 0.01em;
    display: inline-flex;
    align-items: center;
    margin: 0 0 10px 0;
    @include adaptive-value("font-size", 32, 24, 1);
    @include adaptive-value("line-height", 39, 30, 1);

    img {
      margin: 0 0 0 10px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #777777;
    display: block;
    @include adaptive-value("font-size", 18, 16, 1);
    @include adaptive-value("line-height", 26, 22, 1);
    @include adaptive-value("margin-bottom", 47, 30, 1);

    span {
      display: block;
    }
  }

  &__img {
    @include adaptive-value("width", 340, 220, 1);
    @include adaptive-value("margin-bottom", 74, 30, 1);

    img {
      display: inline-block;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      margin: 0 auto;
    }
  }

  &__back-button {
    display: inline-flex;
    align-items: center;
    height: 46px;
    @include adaptive-value("padding-left", 40, 35, 1);
    @include adaptive-value("padding-right", 40, 35, 1);
    background: #282828;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.015em;
    color: #fff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    @media (any-hover: hover) {
      &:hover {
        background-color: #DFDFDF;
        color: #282828;
      }
    }
  }
}
